<.header current_user={@current_user}>
  <div class="flex items-center justify-between">
    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">
      Time Entries
    </h1>
    <div class="ml-4 mt-0 flex-shrink-0">
      <.link navigate={~p"/time-tracking/new"}>
        <.button>New Time entry</.button>
      </.link>
    </div>
  </div>
</.header>

<div class="py-10">
  <div class="flex items-baseline space-x-4 mb-4 px-4">
    <div class="flex-shrink-0">
      <.input
        type="select"
        options={Enum.map(@projects, &{&1.title, &1.id})}
        value={@selected_project_id}
        phx-change="select_project"
        name="project_id"
      />
    </div>
    <div class="flex-grow">
      <form phx-change="update_description" class="w-full">
        <.input
          id="description-input"
          type="text"
          name="description"
          value={@description}
          placeholder="What are you working on?"
        />
      </form>
    </div>
    <div class="flex-shrink-0 flex items-center space-x-2">
      <div class="timer-display bg-gray-100 rounded-md px-4 py-1.5">
        <span class="text-lg font-mono"><%= @elapsed_time %></span>
      </div>
      <div class="timer-controls">
        <.button phx-click="start_timer" disabled={@timer_running?}>Start</.button>
        <.button phx-click="stop_timer" disabled={not @timer_running?}>Stop</.button>
      </div>
    </div>
  </div>

  <.table id="time_entries" rows={@streams.time_entries}>
    <:col :let={{_id, time_entry}} label="Developer"><%= time_entry.developer.name %></:col>
    <:col :let={{_id, time_entry}} label="Project"><%= time_entry.project.title %></:col>
    <:col :let={{_id, time_entry}} label="Start Time"><%= format_datetime(time_entry.start_time) %></:col>
    <:col :let={{_id, time_entry}} label="End Time"><%= format_datetime(time_entry.end_time) %></:col>
    <:col :let={{_id, time_entry}} label="Description" class="max-w-[250px] truncate"><%= time_entry.description %></:col>
    <:col :let={{_id, time_entry}} label="Actions">
      <div class="flex items-center space-x-4 text-sm">
        <.link navigate={~p"/time-tracking/#{time_entry}"} class="text-indigo-600 hover:text-indigo-900 font-medium">
          <.icon name="hero-eye" class="h-5 w-5" />
        </.link>
        <.link navigate={~p"/time-tracking"} class="text-indigo-600 hover:text-indigo-900 font-medium">
          <.icon name="hero-pencil" class="h-5 w-5" />
        </.link>
        <.link phx-click="delete" phx-value-id={time_entry.id} data-confirm="Are you sure?" class="text-red-600 hover:text-red-900 font-medium">
          <.icon name="hero-trash" class="h-5 w-5" />
        </.link>
      </div>
    </:col>
  </.table>
</div>