<.header current_user={@current_user}>
  <div class="flex items-center justify-between">
    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">
      Time Entries
    </h1>
    <div class="ml-4 mt-0 flex-shrink-0">
      <.link navigate={~p"/time-entries/new"}>
        <.button>New Time entry</.button>
      </.link>
    </div>
  </div>
</.header>

<div class="py-10">
  <.table id="time_entries" rows={@streams.time_entries}>
    <:col :let={{_id, time_entry}} label="Developer"><%= time_entry.developer.name %></:col>
    <:col :let={{_id, time_entry}} label="Project"><%= time_entry.project.title %></:col>
    <:col :let={{_id, time_entry}} label="Start Time"><%= time_entry.start_time %></:col>
    <:col :let={{_id, time_entry}} label="End Time"><%= time_entry.end_time %></:col>
    <:col :let={{_id, time_entry}} label="Description"><%= time_entry.description %></:col>
    <:col :let={{_id, time_entry}} label="Actions">
      <div class="flex items-center space-x-4 text-sm">
        <.link navigate={~p"/time-entries/#{time_entry}"} class="text-indigo-600 hover:text-indigo-900 font-medium">
          <.icon name="hero-eye" class="h-5 w-5" />
        </.link>
        <.link navigate={~p"/time-entries"} class="text-indigo-600 hover:text-indigo-900 font-medium">
          <.icon name="hero-pencil" class="h-5 w-5" />
        </.link>
        <.link phx-click="delete" phx-value-id={time_entry.id} data-confirm="Are you sure?" class="text-red-600 hover:text-red-900 font-medium">
          <.icon name="hero-trash" class="h-5 w-5" />
        </.link>
      </div>
    </:col>
  </.table>
</div>

